In [1]:
print('Hello the first code')

Hello the first code

In [2]:
my_name = 'ibrahim'

In [4]:
my_name

'ibrahim'

In [5]:
my_name.capitalize

In [6]:
my_name.capitalize()

'Ibrahim'

In [7]:
my_name_capitalized = my_name.capitalize()

In [8]:
my_name_capitalized

'Ibrahim'

In [9]:
my_fullname = 'Ibrahim Cokbilir'

In [10]:
my_fullname.split()

['Ibrahim', 'Cokbilir']

In [14]:
my_fullname.split()[0]

'Ibrahim'

In [15]:
my_fullname.split()[1]

'Cokbilir'

In [16]:
my_fullname.upper()

'IBRAHIM COKBILIR'

# shift+TAB  help kutusunu açar.

In [18]:
'ibrahim' * 10 * 10

'ibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahimibrahim'

# LIST subject

In [20]:
my_list = [31,44,13,67,5]

In [21]:
my_list.append(7) #listenin sonuna 7 ekler

In [22]:
my_list

[31, 44, 13, 67, 5, 7]

In [24]:
echo my_list.reverse()

my_list.reverse()

In [25]:
my_list

[7, 5, 67, 13, 44, 31]

## nested list

In [26]:
new_list = [1,4,'a',[3,'c']] #liste içerisinde yeni bir liste eklenebilir

In [27]:
nested_list = new_list[3]
nested_list

[3, 'c']

In [28]:
new_list[3][1]

'c'

In [29]:
new_list[2:]

['a', [3, 'c']]

In [30]:
new_list[:2]

[1, 4]

# Dictionary

In [31]:
my_dictionary = {'key':'value'}

In [33]:
my_dictionary['key']

'value'

In [34]:
my_fitness_dictionary = {'key':'value', 'run':100, 'swim':200}

In [35]:
my_dictionary2 = {'key':'value', 'list':[2,3,5], 'key_dict':{3:5}}

In [36]:
my_dictionary2['key_dict'][3]  #sözlük içerisindeki key_dict sözlüğündeki 3'ün karşılığını getirir

5

# SET type

In [37]:
my_list

[7, 5, 67, 13, 44, 31]

In [38]:
#listede tekrar eden olmadığı için set dediğinde hepsini gösterir ama tekrar eden eklersek duplikeyi göstermez

In [39]:
new_my_list = [7,7,5,67,13,44,31,5,31]

In [40]:
my_set_1 = set(new_my_list)

In [41]:
my_set_1

{5, 7, 13, 31, 44, 67}

In [42]:
type(my_set_1)

set

# TUPLE type

In [1]:
my_tuple = ('a',1,'b') #immutable

In [3]:
#liste içerisindeki veriler değiştirilemez. Set veya List'ten bu yönde ayrılır.

In [4]:
my_tuple_1 = ('a',1,3,5,1,1,1,'a','b')

In [6]:
my_tuple_1.count(1)  #tuple içerisindeki 1'lerin adedi

4